{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="items-center flex flex-col">
    <div class="">
        <h5 class="text-center font-bold mb-5">{{ user.username }}</h5>
     </div>
     <div class="items-center flex flex-col">
         <img class="h-36 mb-5 rounded-full" src="{{ profile.user_image }}" alt="USER_IMAGE">
         <ul>
             <li class="mb-2"><span class="font-bold">First name:</span> {{ user.first_name }}</li>
             <li class="mb-2"><span class="font-bold">Last name:</span> {{ user.last_name }}</li>
             <li class="mb-2"><span class="font-bold">Email:</span> {{ user.email }}</li>
             <li class="mb-2"><span class="font-bold">Household name:</span> {{ profile.household.name }}</li>
             <li class="my-4"><a href="{% url 'user_change_password' %}"><button class="btn">Change password</button></a></li>
         </ul>
     </div>
 </div>
<form action="{% url 'profile_update' user.id %}" method="POST">
{% csrf_token %}
{% render_field update_user_form.username placeholder="username"%}
{% render_field update_profile_form.email %}
<input type="submit" name="" id="">
</form>

{% endblock %}