{% extends 'base.html' %}
{% block content %} 
<dev class = "Household">
<h1 class="text-center font-bold mb-5">Household</h1>
</dev>

<div class="flex flex-col items-center justify-center ">

{% for h in household %}
<div class = '  w-30 justify-between items-center mt-5'>
<div class=" food-box flex justify-between border border-neutral-800 rounded w-64 shadow-lg " >
    <a href="{% url 'household_update' h.id %}">
<p >{{ h.name }}</p>
</a>

<div class="">
    <img class="foodbox-avatar mx-1 rounded-full " src='{{user.profile.user_image}}'>
</div>

<div class="flex items-center ">
    <a class="" href="{% url 'household_delete' h.id %}">
    <img class="trash " src="../../static/img/trash.png">
    </a>
</div>
</div>

<!-- <div >
<a href="{% url 'household_update' h.id %}" class=" btn mt-10 text-center">Add User</a>
</div> -->

{% endfor %}
</div>

<a href="{% url 'household_update' user.id %}">
    <button class=" btn ">Add User</button>
</a>

<button class=" white-btn ">Back</button>
{% endblock %}
