{% extends 'base.html' %}
{% block content %} 
<dev class = "Household">
<h1 class="text-center font-bold mb-5">Household</h1>
</dev>

<div class="flex flex-col items-center justify-center ">

{% for user in users_in_house %}  

<div class="food-box flex justify-between border border-neutral-800 rounded shadow-lg items-center " >
    <div class="flex items-center">
        <div class="mr-5">
            <img class="h-14 rounded-full " src='{{user.profile.user_image}}'>
        </div>
        <div>
            <a href="{% url 'household_update' h.id %}">
            <p class="text-xl">{{ h.name }}</p>
            </a>
        </div>
    </div>
        
<a class="" href="{% url 'household_delete' h.id %}">
    <img class="h-10" src="../../static/img/trash.png">
    </a>

</div>

{% endfor %}


<a href="{% url 'household_update' user.id %}">
    <button class=" btn my-4">Add User</button>
</a>

<button class=" white-btn ">Back</button>
{% endblock %}
</div>
</div>