{% extends 'base.html' %}
{% block content %} 

<div class=" flex flex-col items-center justify-center">
<h1 >Household</h1>

{% for h in household %}
<div>
<!-- <div class=" flex justify-center border-2 border-neutral-900 rounded w-64 " > -->
<p >Name: {{ h.name }}</p>
<!-- </div> -->

<p >ID: {{ h.id }}</p>

<div >
<a href="{% url 'household_update' h.id %}" class=" btn mt-10 text-center">EDIT</a>
</div>

<div >
<a href="{% url 'household_delete' h.id %}" class="btn ">DELETE</a>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
