@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.logo-text {
    font-family: 'Koulen', cursive;
}

.edit-profile-container {
    width: 343px;
}

.profile-input-box {
    border: 1px solid black;
    width: 192px;
    height: 41px;
    border-radius: 20px;
    box-shadow: inset 0 0 8px 0 #d7dcf9;
}

.input-box {
    border: 1px solid black;
    width: 343px;
    height: 41px;
    border-radius: 20px;
    box-shadow: inset 0 0 2px 0 #d7dcf9;
}


.btn {
    width: 137px;
    height: 52px;
    border-radius: 30px;
    background-color: #d7dcf9;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.white-btn {
    width: 137px;
    height: 52px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.long-btn {
    width: 225px;
    height: 45px;
    border-radius: 32px;
    background-color: #d7dcf9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.delete-btn {
    width: 137px;
    height: 52px;
    border-radius: 30px;
    background-color: pink;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

#logo {
    height: 45px;
    margin: 0 5px 0 0;
}

#login-fridge {
    width: 200px;
    
    
}

#logo-holder {
    display: flex;
    align-items: center;
}

.food-box {
    width: 343px;
    min-height: 72px;

    margin: 0 0 10px 0;
    border-radius: 7px;
    border: solid 2px #000;
    background-color: #fff;

    padding:  16px 25px;
}

.food-box-shared {
    box-shadow: inset 0 0 7px 0 #7da949;
    color: #7da949
}

.food-box-off-limits {
    box-shadow: inset 0 0 7px 0 #c16666;
    color: #c16666
}

.foodbox-avatar {
    height: 28px;
}

.trash {
    height: 28px;
}

.detail-card-icon {
    width: 20px;
}

.index-title, .sub-list-title {
    font-weight: bold;
}

.index-container, hr, .food-list-header {
    width: 343px;
}

hr {
    border-color: black
}
.food-list {

    margin-bottom: 64px;

}
.food-list-container{
    font-size: 24px;
}

.rectangle-input {
    width: 329px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #000;
    margin-bottom: 25px;
}


.food-list-header {
    border-bottom: 2px solid black;
    margin-bottom: 20px;

}

#shared-header {
    color: #7da949;

}

#off-limits-header {
    color: #c16666;

}

#add-item-btn {
    width: 225px;
  height: 45px;
  flex-grow: 0;
  
  padding: 4px 29px 5px 25px;
  border-radius: 32px;
  background-color: #d7dcf9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}
#add-item-btn-text {
    margin: 0;
}

.shared-text {
    color: #7da949;
}


.not-shared-text {
    color: #c16666;
}

.food-img {
    width: 250px;
}
