@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.logo-text {
    font-family: 'Koulen', cursive;
}

#id_username { 
    border: 1px solid black;
    width: 343px;
    height: 41px;
    border-radius: 20px;
}

#id_password{ 
    border: 1px solid black;
    width: 343px;
    height: 41px;
    border-radius: 20px;
}

.btn {
    width: 137px;
    height: 52px;
    border-radius: 30px;
    background-color: #d7dcf9;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

#logo {
    height: 45px;
    margin: 0 5px 0 0;
}

#login-fridge {
    width: 80px;
}

#logo-holder {
    display: flex;
    align-items: center;
}

.food-box {
    width: 343px;
    height: 72px;

    margin: 3px 0;
    border-radius: 7px;
    border: solid 2px #000;
    background-color: #fff;

    padding: 0 25px;
}

.food-box-shared {
        box-shadow: inset 0 0 12.3px 0 #7da949;
}

.food-box-off-limits {
    box-shadow: inset 0 0 12.3px 0 #c16666;
}

.trash {
    height: 28px;
}

.index-title, .sub-list-title {
    font-weight: bold;
}

.index-container, hr, .food-list-header {
    width: 343px;
}

hr {
    border-color: black
}
.food-list {

    margin-bottom: 64px;

}
.food-list-container {
    font-size: 24px;
}



.food-list-header {
    border-bottom: 2px solid black;
    margin-bottom: 20px;

}

#shared-header {
    color: #7da949;

}

#off-limits-header {
    color: #c16666;

}

#add-item-btn {
    width: 225px;
  height: 45px;
  flex-grow: 0;
  
  padding: 4px 29px 5px 25px;
  border-radius: 32px;
  background-color: #d7dcf9;
}
#add-item-btn-text {
    margin: 0;
}

