{% extends 'base.html' %}
{% block content %}

<div class="flex justify-center">
    <div class="text-center">
        <h5 class="text-center text-2xl font-bold mb-5">Item Details</h5>
        <h5 class="text-xl font-bold mb-5">{{ food.food_name }}</h5>
        {% if food.food_image %}
        <img class="food-img" src="{{food.food_image}}">
        {% endif %}
        <div class="mb-5">
            Status: 
            {% if food.shareable %}
            <span class="shared-text"> Shared</span>
            {% else %}
            <span class="not-shared-text"> Not shared</span>
            {% endif %}
        </div>
        <div>
            Owner: {{food.user}}
        </div>
        {% if food.user == user %}
        <div>
            <a href="{% url 'foods_update' food.id %}"><button class="btn mt-10">Edit Item</button></a>
        </div>
        {% endif %}
        {% if food.shareable %}
        <div>
            <a href="{% url 'foods_delete' food.id %}"><button class="delete-btn mt-5">Delete Item</button></a>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'index' %}"> <button class="white-btn mt-5">All foods</button></a>
        </div>
    </div>
</div>
{% endblock %}