{% extends 'base.html' %}
{% block content %}
<div class="food-list-container flex justify-center">
    <div >
        <h5 class="text-center font-bold mb-5">Which food is shared?</h5>

        <div class="food-list-header">
            <h5 class="sub-list-title">My Stuff</h5>
        </div>

        
        <div class="food-list">  
            {% for food in foods %}
            {% if food.user == user %}
            <div class="food-box flex items-center">
                <div class="flex w-full justify-between items-center">
                    <a href='{% url "foods_detail" food.id %}'><div class="">{{ food.food_name}}</div></a>
                    
                    <div class="flex items-center">
                        <div class="">
                            <img class="foodbox-avatar mx-1 rounded-full " src='{{food.user_image}}'>
                        </div>
                        <a href=''>
                            <img class="trash" src="../../static/img/trash.svg">
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="shared-header" class="food-list-header">
            <h5 class="sub-list-title">Shared</h5>
        </div>
        <div class="food-list">  
            {% for food in foods %}
            {% if food.shareable %}
            <div class="food-box food-box-shared flex items-center">
 
                <div class="flex w-full justify-between items-center">
                    <a href='{% url "foods_detail" food.id %}'><div class="">{{ food.food_name}}</div></a>
                    
                    <div class="flex items-center">
                        <div class="">
                            <img class="foodbox-avatar mx-1 rounded-full" src='{{food.user_image}}'>
                        </div>
                        <a href="">
                            <img class="trash" src="../../static/img/trash.svg">
                        </a>
                    </div>
                </div>
 
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="off-limits-header" class="food-list-header">
            <h5 class="sub-list-title left">Off Limits</h5>
        </div>
        <div class="food-list">  
            {% for food in foods %}
            {% if not food.shareable %}
            <div class="food-box food-box-off-limits flex items-center">
                <div class="flex w-full justify-between items-center">
                    <a href='{% url "foods_detail" food.id %}'><div class="">{{ food.food_name}}</div></a>
                    
                    <div class="flex items-center">
                        <div class="">
                            <img class="foodbox-avatar mx-1 rounded-full" src='{{food.user_image}}'>
                        </div>
                        <a href="">
                            <img class="trash" src="../../static/img/trash.svg">
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="flex justify-center">
            <a href="{% url 'foods_create' %}">
                <button id="add-item-btn" class="mb-10"><h5 id="add-item-btn-text"> Add item</h5></button>
            </a>
        </div>
    </div>
</div>

{% endblock %}