{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% block content %}
<div class="flex-col justify-center items-center">
  {% if object %}
  <div><h5 class="text-center text-2xl font-bold mb-5">Edit {{object.food_name}}</h5></div>
{% else %}
<div><h5 class="text-center text-2xl font-bold mb-5">Add item</h5></div>
{% endif %}
  
  <div class="flex-col items-center justify-center">
    
      <form action="" method="post">
        {% csrf_token %}
        <div class="flex-col items-center justify-center">
          <div class="flex justify-center mb-5">
            {% render_field form.food_name class+="input-box" placeholder="Add food" %}
          </div>
          {% if object.food_image %}
          <div class="flex justify-center my-5">
            <img class="food-img" src="{{object.food_image}}">
          </div>
          {% endif %}
          <div class="flex flex-col items-center mb-5">
   
            <div>{% render_field form.food_image class+="input-box" placeholder="Enter image url (optional)"%}</div>
          </div>

          <div class="flex justify-center items-center">
            <div class="mx-2">{% render_field form.shareable %}</div>
            <div class="mx-2">Share with others?</div>
          </div>

          <div class="flex justify-center">
            <input type="submit" value="Submit" class="btn mt-10" />
          </div>
      </div>
      </form>
 
  </div>
</div>
{% endblock %}
