
{% extends 'base.html' %}
{% block content %} 
{% if object %}
<div class="justify-center flex-col mx-2">
	<div class="text-center">
		<h1>Edit <span>{{ object.name }}</span></h1>
	</div>
	{% else %}
	<h1 class="text-center font-bold mb-5">Create New Household</h1>
	{% endif %}

	<form action="" method="POST">
		{% csrf_token %}
		<div class="flex justify-center">
			{% render_field form.name placeholder="Name" %}
		</div>
		<div class="flex justify-center">
			<input type="submit" value="Submit Changes!" class="btn mt-10" cid="" />
		</div>
	</form>
</div>

{% endblock %}
