{% load static tailwind_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridgy</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <header>
        <nav>
            <div class="">

                <a href="" class="">
                    <div id="logo-holder" class="logo-text text-xl">
                        <img id="logo" src="../../static/img/fridge.png"> FRIDGY
                    </div>
                </a>

                <ul class=" ">
                    <li>
                        <a class="black-text" href="">Household</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="black-text" href="{% url "logout" %}">Log out</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="black-text" href="{% url "signup" %}">Sign up</a>
                    </li>
                    <li>
                        <a class="black-text" href="{% url "login" %}">Log in</a>
                    </li>
                    {% endif %}
                    </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
      </main>
      <footer class="page-footer white">

      </footer>
</body>
</html>