{% load static tailwind_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridgy</title>
    {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <nav>
            <div class="m-2 flex justify-end">
                <div class="flex-1 ">
                    <a href="{% url 'index' %}" class="">
                        <div id="logo-holder" class="  logo-text text-xl">
                        <img id="logo" src="/../../static/img/fridge.png"> FRIDGY
                        </div>
                    </a>
                </div>
                

                <ul class="flex m-2">
                    
                    {% if user.is_authenticated %}
                    <li>
                        <div class="rounded-2xl border border-black mx-2 px-1 flex items-center">
                            {% if user.profile.household %}
                            <a class="inline-block h-7" href="{% url 'household_detail' user.profile.household.id %}">
                            {% else %}
                            <a href="inline-block h-7" href="{% url 'household_create' %}"></a>
                            {% endif %}
                                <div class="flex justify-center items-center">
                                    <div>
                                       <img class="trash" src="../../static/img/household.svg">
                                    </div>
                                    <div class="mx-1">
                                        Household
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'profile_detail' user.id %}"><img class="foodbox-avatar mx-1 rounded-full" src='{{user.profile.user_image}}'></a>
                    </li>
                    <li>
                        <a class="px-2" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="px-2" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    
                    <li>
                        <a class="px-2" href="{% url 'login' %}">Log in</a>
                    </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">

        {% block content %}
        {% endblock %}
      </main>
      <footer class="page-footer white">

      </footer>
</body>
</html>